.level0 { border: 1px solid #808080; }
.level1 { border: 1px solid #808080; }
.level2 { border: 1px solid #808080; }
.level3 { border: 1px solid #808080; }
.level4 { border: 1px solid #808080; }

td.sidebar { padding-left: 10px; border-left: 1px solid #808080; }
